.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--text-muted);
}

.botonesCarrito{
    background-color: var(--color-violet);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}