.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--text-white);
    width: 20em;
    color: var(--color-celeste);
     box-shadow: 0 0 10px #0084ff,
                0 0 20px #016DFE,
                0 0 40px #3400FF;                
}

.card img{
    width: 250px;
    height: 300px;
}

.botonesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}