@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body{
   background: linear-gradient(135deg, var(--azul-oscuro), var(--color-violet), var(--color-celeste));
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    background-repeat: no-repeat;
    color: var(--text-white);
    margin: 0;
    font-family: 'Noto Sans Display',sans-serif;
    min-height: 100vh;
}

main{
  flex: 1;
  
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-oscuro);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: medium;
}
.button:hover{
    background-color: var(--background);
    color: white;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (max-width: 768px) {
    body {
        min-height: 100vh;
        background-attachment: fixed;
    }
}

@media (min-width: 768px) and (max-width:830px) {
    body {
        min-height: 100vh;
        background-attachment: fixed;
        font-size: 90%;
    }
}

@media (max-width: 500px) {
    body {
        min-height: 100vh;
        background-attachment: fixed;
        font-size: 70%;
    }
    
}