@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body{
   background: linear-gradient(135deg, #010d66, #0084ff, #3400FF);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    background-repeat: no-repeat;
    color: var(--text-white);
    margin: 0;
    font-family: 'Noto Sans Display',sans-serif;
    min-height: 100vh;
}

main{
  flex: 1;
  margin-top: 6em;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (max-width: 768px) {
    body {
        min-height: 100vh;
        background-attachment: fixed;
    }
}