.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-oscuro);
    color: white;
    padding: 1em;
    border: none;
    border-radius: 1em;
}